<div #blocker></div>
<div class="container">
  <app-navbar title="Device Management > {{viewMode | uppercase}}">
  </app-navbar>
  <div class="row">
    <br>
    <mat-divider></mat-divider>
    <br>
    <mat-card>
      <button mat-raised-button [color]="viewMode === 'list' ? 'accent' : 'primary'" (click)="finishAction()">
        <mat-icon>playlist_play</mat-icon> List Devices
      </button>
      <button mat-raised-button [color]="viewMode === 'new' ? 'accent' : 'primary'" (click)="viewMode = 'new'">
        <mat-icon>playlist_add</mat-icon> New Device
      </button>
    </mat-card>
  </div>

  <ng-container [ngSwitch]="viewMode">
    <ng-template ngSwitchCase="list">
      <mat-spinner [mode]="'indeterminate'" *ngIf="!dataSource"></mat-spinner>

      <ng-container *ngIf="dataSource">
        <div class="container">

          <mat-toolbar style="background-color: #e9e9e9;">
            <mat-toolbar-row>
              <mat-form-field style="font-size: 14px">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter Device">
              </mat-form-field>
              <span style="font-size:12px" *ngIf="selProd">Addtional filters: {{selProd}}</span>
              <span style="flex: 1 1 auto"></span>
              <div>
                <mat-radio-group [ngModel]="selectedListMode">
                  <mat-radio-button style="font-size: 14px; padding-right: 10px" class="example-radio-button" *ngFor="let mode of listMode; index as imode"
                    [value]="mode" (click)="changeView(mode, imode)" color="primary">
                    {{mode.desc}}
                  </mat-radio-button>
                </mat-radio-group>
              </div>
            </mat-toolbar-row>
          </mat-toolbar>
          <mat-table #table [dataSource]="dataSource" matSort>
            <!-- Table Actions Column -->
            <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef class="cell-header text-test">Actions</mat-header-cell>
              <mat-cell *matCellDef="let element">
                <button mat-icon-button mat-button color="primary" (click)="editDevice(element)">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button mat-button color="primary" (click)="removeDevice(element)">
                  <mat-icon>highlight_off</mat-icon>
                </button>
              </mat-cell>
              {{element | json}}
            </ng-container>

            <ng-container matColumnDef="PlatformID">
              <mat-header-cell *matHeaderCellDef class="cell-header text-test" mat-sort-header>PlatformID</mat-header-cell>
              <mat-cell *matCellDef="let element">
                <ng-container *ngFor="let pl of element.PlatformEngines">
                  {{pl.platform.ID}}
                </ng-container>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="ProductID">
              <mat-header-cell *matHeaderCellDef class="cell-header text-test" mat-sort-header>ProductID</mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.ProductID}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="DeviceID">
              <mat-header-cell *matHeaderCellDef class="cell-header text-test" mat-sort-header>DeviceID</mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.DeviceID}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="LastState">
              <mat-header-cell *matHeaderCellDef class="cell-header text-test" mat-sort-header>LastState</mat-header-cell>
              <mat-cell *matCellDef="let element">
                <span *ngIf="element.LastState === 'SUCCESS'" style="color:green">{{element.LastState}}</span>
                <span *ngIf="element.LastState === 'PENDING'" style="color:orange">{{element.LastState}}</span>
                <span *ngIf="element.LastState === 'FAILURE'" style="color:red">{{element.LastState}}</span>
                <button mat-icon-button color="primary" (click)="openResultDialog(element)">
                    <mat-icon>keyboard_arrow_down</mat-icon>
                </button>
                  
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="selectedListMode.displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: selectedListMode.displayedColumns;"></mat-row>
          </mat-table>
          <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
        </div>
      </ng-container>
    </ng-template>
    <ng-template ngSwitchDefault>
      <device-wizard [editData]="editData" [viewMode]="viewMode" (finishedAction)="finishAction()"></device-wizard>
    </ng-template>
  </ng-container>
</div>
