.row{
  margin-top: 10px;
}

.product-deployed {
  font-size: 14px
}

.cell-bordered {
  border-left: 1px solid rgba(0,0,0,.12);
  padding-left: 40px;
}

.card{
  display: flex;
  flex-direction: column;
  padding: 20px;
  position: relative;
  margin-top: 40px;
}

.text-test {
  color: #3f51b5;
}

.text-empty {
  color: #88bac2;
}


.cell-header {
  font-size: 20px
}

.card-header i {
  font-size: 24px;
  width: 33px;
  height: 33px;
  line-height: 33px;
  color: #fff;
}

.card-content{
  position: relative;
}

.card-title{
  padding-left: 80px;
}
