<h1 mat-dialog-title>Add remaining configuration</h1>
<div mat-dialog-content>
  <mat-form-field appearance="outline">
    <mat-select #config_selection placeholder="Remaining configurations" name="config">
      <mat-option value="gather">
        Gather
      </mat-option>
      <mat-option value="visual">
        Visual
      </mat-option>
      <mat-option value="alert">
        Alert
      </mat-option>
    </mat-select>
    <mat-icon matSuffix mat-mini-fab [matTooltip]="'ll'">help</mat-icon>
  </mat-form-field>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="config_selection.value" cdkFocusInitial>Ok</button>
</div>