<h1 mat-dialog-title>Device Results</h1>
<div mat-dialog-content>
  <h2> {{data.DeviceID}}</h2>
  <h3> {{data.ProductID}} |
      <span *ngIf="data.LastState === 'SUCCESS'" style="color:green">{{data.LastState}}</span>
      <span *ngIf="data.LastState === 'PENDING'" style="color:orange">{{data.LastState}}</span>
      <span *ngIf="data.LastState === 'FAILURE'" style="color:red">{{data.LastState}}</span>
  </h3>
  <hr>
  <h5>Job: {{resultStat.JobName}}</h5>
  <h5>Is Finished: {{resultStat.IsFinished}}</h5>
  <h5>Result: 
      <span *ngIf="data.LastState === 'SUCCESS'" style="color:green">{{resultStat.Result}}</span>
      <span *ngIf="data.LastState === 'PENDING'" style="color:orange">{{resultStat.Result}}</span>
      <span *ngIf="data.LastState === 'FAILURE'" style="color:red">{{resultStat.Result}}</span>
  </h5>
  <hr>
  <h5>Launched: {{resultStat.Launched}}</h5>
  <h5>LastUpdate: {{resultStat.LastUpdate}}</h5>
  <hr>
  <h5>ExecURL <a [href]="resultStat.ExecURL">{{resultStat.ExecURL}}</a></h5>
</div>
<div mat-dialog-actions>
  <button mat-button color="primary" [mat-dialog-close]="'true'" cdkFocusInitial>Ok</button>
</div>