<div #blocker></div>
<div class="container">
  <!--INIT - stepper-->
  <mat-vertical-stepper [linear]="isLinear" #stepper>
    <!--INIT - stepper - firstStep -->
    <ng-container *ngIf="stepInfo.productStatus?.hasDB === false">
      <mat-step [stepControl]="productFormGroup">
        <form [formGroup]="productFormGroup">
          <ng-container>
            <ng-template matStepLabel>
              <h4>Platform requirements</h4>
            </ng-template>
            <mat-form-field>
              <input matInput placeholder="Product Name" formControlName="product" required>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Models" formControlName="models" required>
            </mat-form-field>
            <mat-form-field>
              <textarea matInput placeholder="Description" formControlName="description" required> </textarea>
            </mat-form-field>
            <div>
              <button mat-raised-button color="accent" matStepperNext type="button">Next</button>
            </div>
          </ng-container>
        </form>
      </mat-step>

      <mat-step [stepControl]="platformFormGroup">
        <form [formGroup]="platformFormGroup">
          <ng-container>
            <ng-template matStepLabel>
              <h4>Gather engines</h4>
            </ng-template>
            <div class="col-md-5">
              <mat-form-field>
                <mat-select #gather_selection placeholder="Available engines" name="engine">
                  <mat-option *ngFor="let engine of gather_engines" [value]="engine.type">
                    {{engine.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <button mat-mini-fab color="primary" [disabled]="gather_selection.value == null"
                (click)="addPlatformEngine('gather',gather_selection.value)">
                <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
              </button>
              <div>
                <button mat-raised-button color="accent" matStepperNext type="button">Next</button>
              </div>
            </div>
            <div class="col-md-7">
              <ng-container>
                <mat-chip-list #chipList>
                  <h5 style="padding-right: 10px;">Selected Engines </h5>
                  <ng-container *ngFor="let i of platformFormGroup.controls.engine.controls; index as iplatform">
                    <ng-container *ngIf="i.value.type === 'gather'">
                      <mat-chip removable=true (remove)="deletePlatformEngine(step,iplatform)">
                        {{i.value.name}}
                        <mat-icon matChipRemove>cancel</mat-icon>
                      </mat-chip>
                    </ng-container>
                  </ng-container>
                </mat-chip-list>
              </ng-container>
            </div>
          </ng-container>
        </form>
      </mat-step>

      <mat-step [stepControl]="productFormGroup">
        <form [formGroup]="productFormGroup">
          <ng-container>
            <ng-template matStepLabel>
              <h4>Visual engines</h4>
            </ng-template>
            <div class="col-md-5">
              <mat-form-field>
                <mat-select #visual_selection placeholder="Available engines" name="engine">
                  <mat-option *ngFor="let engine of visual_engines" [value]="engine.type">
                    {{engine.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <button mat-mini-fab color="primary" [disabled]="visual_selection.value == null"
                (click)="addPlatformEngine('visual',visual_selection.value)">
                <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
              </button>
              <div>
                <button mat-raised-button color="accent" matStepperNext type="button">Next</button>
              </div>
            </div>
            <div class="col-md-7">
              <ng-container>
                <mat-chip-list #chipList>
                  <h5 style="padding-right: 10px;">Selected Engines </h5>
                  <ng-container *ngFor="let i of platformFormGroup.controls.engine.controls; index as iplatform">
                    <ng-container *ngIf="i.value.type === 'visual'">
                      <mat-chip removable=true (remove)="deletePlatformEngine(step,iplatform)">
                        {{i.value.name}}
                        <mat-icon matChipRemove>cancel</mat-icon>
                      </mat-chip>
                    </ng-container>
                  </ng-container>
                </mat-chip-list>
              </ng-container>
            </div>
          </ng-container>

        </form>
      </mat-step>

      <mat-step [stepControl]="productFormGroup">
        <form [formGroup]="productFormGroup">
          <ng-container>
            <ng-template matStepLabel>
              <h4>Alert engines</h4>
            </ng-template>
            <div class="col-md-5">
              <mat-form-field>
                <mat-select #alert_selection placeholder="Available engines" name="engine">
                  <mat-option *ngFor="let engine of alert_engines" [value]="engine.type">
                    {{engine.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <button mat-mini-fab color="primary" [disabled]="alert_selection.value == null"
                (click)="addPlatformEngine('alert',alert_selection.value)">
                <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
              </button>
              <div>
                <button mat-raised-button color="accent" matStepperNext type="button">Next</button>
              </div>
            </div>
            <div class="col-md-7">
              <ng-container>
                <mat-chip-list #chipList>
                  <h5 style="padding-right: 10px;">Selected Engines </h5>
                  <ng-container *ngFor="let i of platformFormGroup.controls.engine.controls; index as iplatform">
                    <ng-container *ngIf="i.value.type === 'alert'">
                      <mat-chip removable=true (remove)="deletePlatformEngine(step,iplatform)">
                        {{i.value.name}}
                        <mat-icon matChipRemove>cancel</mat-icon>
                      </mat-chip>
                    </ng-container>
                  </ng-container>
                </mat-chip-list>
              </ng-container>
            </div>
          </ng-container>
        </form>
      </mat-step>

    </ng-container>

    <ng-container *ngIf="stepInfo.productStatus?.hasDB === true">
      <mat-step [stepControl]="productFormGroup">
        <form [formGroup]="productFormGroup">
          <ng-template matStepLabel>
            <h4>Product properties</h4>
            <p>Fill product properties</p>
          </ng-template>
          <h5>{{productFormGroup.value.product}}</h5>
          <br>
          <mat-form-field style="width: 100%">
            <input matInput placeholder="Models" formControlName="models" required>
          </mat-form-field>
          <mat-form-field style="width: 100%">
            <textarea matInput placeholder="Description" formControlName="description" required rows="1"> </textarea>
          </mat-form-field>
          <div>
            <button mat-raised-button color="accent" matStepperNext type="button">Next</button>
          </div>
        </form>
      </mat-step>
      <!--INIT - stepper - Gather -->
      <mat-step [stepControl]="productFormGroup">
        <form [formGroup]="productFormGroup">
          <ng-template matStepLabel>
            <h4>{{lengine.desc}} config</h4>
            <p>Create new {{lengine.id}} configs</p>
          </ng-template>
          <!--INIT - Start the generation of the XXX section. Each engine can have multiple configs-->
          <div class="col-md-12" *ngIf="engine_selection !== 'external'">
            <mat-tab-group #tabGroup style="background-color:white" (selectedTabChange)="showConfigs = true">
              <mat-tab label="Engines" (click)="finish=true">
                <div class="container">
                  <h3>Help</h3>
                  <p>Navigate for each tab and follow the steps:</p>
                  <p>Select product configuration and fill the params</p>
                  <p>Select a platform engine to deploy on</p>
                  <p>Fill platform parameters</p>
                </div>
              </mat-tab>
              <ng-container *ngIf="productFormGroup.controls[lengine.id].controls.length > 0">
                <ng-container *ngFor="let sgather of productFormGroup.controls[lengine.id].controls; index as iengine">
                  <mat-tab [label]="productFormGroup.controls[lengine.id].controls[iengine].value.engine"
                    [formArrayName]="lengine.id">
                    <br>
                    <ng-template matStepLabel>
                      <h4> {{productFormGroup.controls[lengine.id].controls[iengine].value.engine}} config</h4>
                      <p>Create new {{productFormGroup.controls[lengine.id].controls[iengine].value.engine}}
                        configs</p>
                    </ng-template>
                    <button mat-icon-button color="primary"
                    (click)="addConfigEngine(lengine.id,iengine, productFormGroup.controls[lengine.id].controls[iengine].value.engine)"
                    style="display:inline; top: -3px"
                    matTooltip="Add new configuration">
                    <mat-icon aria-label="Add new configuration">note_add</mat-icon>
                  </button>
                    <h5 style="display:inline">
                      - Configurations:</h5>

                    <mat-accordion *ngIf="showConfigs === true">
                      <!-- Enter on the engine form using iengine -->
                      <div [formArrayName]="iengine" class="row custom_row">
                        <!-- Enter on the config form for config control-->
                        <div formArrayName="config">
                          <!-- Iterates over each  configuration. Declares iconfig as index-->
                          <div
                            *ngFor="let sgatherconfig of productFormGroup.controls[lengine.id].controls[iengine].controls.config.controls; index as iconfig">
                            <!-- Enter on each config using iconfig"-->
                            <div class="col-md-11" [formArrayName]="iconfig">
                              <!--Form to complete 'Config Parameters' -->
                              <mat-expansion-panel [expanded]=false>
                                <mat-expansion-panel-header>
                                  <mat-panel-title>
                                    <h5>{{iconfig}} - {{sgatherconfig.value.label || 'Name'}}</h5>
                                  </mat-panel-title>
                                </mat-expansion-panel-header>
                                <mat-divider></mat-divider>
                                <br>
                                <h5>Product configuration:</h5>
                                <br>
                                <mat-form-field appearance="outline">
                                  <mat-label>ID:</mat-label>
                                  <input matInput formControlName="id">
                                </mat-form-field>
                                <mat-form-field appearance="outline">
                                  <mat-label>Label:</mat-label>
                                  <input matInput formControlName="label">
                                </mat-form-field>
                                <mat-form-field appearance="outline">
                                  <mat-label>Models:</mat-label>
                                  <input matInput formControlName="models">
                                </mat-form-field>
                                <mat-form-field appearance="outline">
                                  <mat-label>Description:</mat-label>
                                  <input matInput formControlName="description">
                                </mat-form-field>
                                <div formGroupName="config" class="row custom_row">
                                  <h5>
                                    <button mat-icon-button color="primary"
                                      (click)="addConfig(lengine.id, iengine, iconfig)" style="top: -3px"
                                      matTooltip='Add configuration files'>
                                      <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
                                    </button>
                                    - Configuration files:
                                  </h5>
                                  <ng-container
                                    *ngFor="let kk of productFormGroup.controls[lengine.id].controls[iengine].controls.config.controls[iconfig].controls.config.controls; index as n">
                                    <div [formArrayName]="n" class="col-md-12">
                                      <div class="col-md-11">
                                        <div style="margin-bottom: 20px" class="config-card">

                                          <mat-form-field appearance="outline" style="width:90%">
                                            <mat-label>Filename:</mat-label>
                                            <input #source matInput formControlName="source" readonly>
                                          </mat-form-field>
                                          <mat-form-field appearance="outline" style="width:90%">
                                            <mat-label>Dest:</mat-label>
                                            <input #dest matInput formControlName="dest">
                                          </mat-form-field>
                                          <input id="singleFile" type="file"
                                            (change)="selectFile($event,lengine.id, iengine, iconfig, n)" />
                                        </div>
                                      </div>
                                      <div class="col-md-1">
                                        <button class="close-x" mat-icon-button
                                          (click)="removeConfig(lengine.id, iengine, iconfig, n)"
                                          matTooltip='Remove configuration and files attached on it'>
                                          <mat-icon aria-label="Remove config" color="warn">delete</mat-icon>
                                        </button>
                                      </div>
                                    </div>
                                  </ng-container>
                                </div>
                                <br>
                                <mat-divider></mat-divider>
                                <br>
                                <!--Form to complete 'Params' -->
                                <div formGroupName="params" class="row custom_row">
                                  <!--Form to complete 'Product Params' -->
                                  <div formArrayName="product_params"
                                    *ngIf="productFormGroup.controls[lengine.id].controls[iengine].controls.config.controls[iconfig].controls.params.controls.product_params">
                                    <h5> Product Params:
                                      <button mat-icon-button *ngIf="allowCustomParams === true" color="accent"
                                        (click)="openDialog(lengine.id,iengine,iconfig,'product_params')">
                                        <mat-icon>add</mat-icon>
                                      </button>
                                    </h5>
                                    <br>
                                    <!-- Iterates over each param. Declares ipp as index-->
                                    <!-- If its empty, the use can create them -->
                                    <ng-container
                                      *ngFor="let kk of productFormGroup.controls[lengine.id].controls[iengine].controls.config.controls[iconfig].controls.params.controls.product_params.controls; index as l">
                                      <!-- Enter on each product_params using ipp"-->
                                      <ng-container [formArrayName]="l">
                                        <ng-container *ngIf="kk.value.type === 'boolean'">
                                          <mat-form-field [color]="'accent'" appearance="outline" style="width: 80%">
                                            <mat-label>
                                              {{productFormGroup.controls[lengine.id].controls[iengine].controls.config.controls[iconfig].controls.params.controls.product_params.controls[l].value.label}}
                                            </mat-label>
                                            <mat-select formControlName="value">
                                              <mat-option *ngFor="let bool_param of bool_params" [value]="bool_param">
                                                {{bool_param}}
                                              </mat-option>
                                            </mat-select>
                                            <mat-icon matSuffix mat-mini-fab
                                              [matTooltip]="productFormGroup.controls[lengine.id].controls[iengine].controls.config.controls[iconfig].controls.params.controls.product_params.controls[l].value.description">
                                              help</mat-icon>
                                          </mat-form-field>
                                        </ng-container>
                                        <ng-container *ngIf="kk.value.type !== 'boolean'">
                                          <mat-form-field [color]="'accent'" appearance="outline" style="width: 80%">
                                            <mat-label>
                                              {{productFormGroup.controls[lengine.id].controls[iengine].controls.config.controls[iconfig].controls.params.controls.product_params.controls[l].value.label}}
                                            </mat-label>
                                            <input matInput [type]="kk.value.type === 'integer' ? 'number' : 'text'"
                                              formControlName="value">
                                            <mat-icon matSuffix mat-mini-fab
                                              [matTooltip]="productFormGroup.controls[lengine.id].controls[iengine].controls.config.controls[iconfig].controls.params.controls.product_params.controls[l].value.description">
                                              help</mat-icon>
                                          </mat-form-field>
                                        </ng-container>
                                        <ng-container *ngIf="allowCustomParams === true">
                                          <button mat-icon-button color="primary"
                                            (click)="openDialog(lengine.id,iengine,iconfig,'device_params',productFormGroup.controls[lengine.id].controls[iengine].controls.config.controls[iconfig].controls.params.controls.device_params.controls[l].value,l)">
                                            <mat-icon>edit</mat-icon>
                                          </button>
                                          <button mat-icon-button color="warn"
                                            (click)="removeParameter(lengine.id,iengine,iconfig,'device_params',null,l)">
                                            <mat-icon>delete</mat-icon>
                                          </button>
                                        </ng-container>
                                      </ng-container>
                                    </ng-container>
                                  </div>
                                  <mat-divider></mat-divider>
                                  <br>
                                  <!--Form to complete 'Platform Params' -->
                                  <div formArrayName="platform_params"
                                    *ngIf="productFormGroup.controls[lengine.id].controls[iengine].controls.config.controls[iconfig].controls.params.controls.platform_params">
                                    <h5> Platform Params:
                                      <button mat-icon-button *ngIf="allowCustomParams === true" color="accent"
                                        (click)="openDialog(lengine.id,iengine,iconfig,'platform_params')">
                                        <mat-icon>add</mat-icon>
                                      </button>
                                    </h5>
                                    <br>
                                    <ng-container
                                      *ngFor="let kk of productFormGroup.controls[lengine.id].controls[iengine].controls.config.controls[iconfig].controls.params.controls.platform_params.controls; index as l">
                                      <ng-container [formArrayName]="l">
                                        <ng-container *ngIf="kk.value.type === 'boolean'">
                                          <mat-form-field [color]="'accent'" appearance="outline" style="width: 80%">
                                            <mat-label>
                                              {{productFormGroup.controls[lengine.id].controls[iengine].controls.config.controls[iconfig].controls.params.controls.platform_params.controls[l].value.label}}
                                            </mat-label>
                                            <mat-select formControlName="value">
                                              <mat-option *ngFor="let bool_param of bool_params" [value]="bool_param">
                                                {{bool_param}}
                                              </mat-option>
                                            </mat-select>
                                            <mat-icon matSuffix mat-mini-fab
                                              [matTooltip]="productFormGroup.controls[lengine.id].controls[iengine].controls.config.controls[iconfig].controls.params.controls.platform_params.controls[l].value.description">
                                              help</mat-icon>
                                          </mat-form-field>
                                        </ng-container>
                                        <ng-container *ngIf="kk.value.type !== 'boolean'">
                                          <mat-form-field [color]="'accent'" appearance="outline"
                                            style="padding-right: 30px !important;" style="width: 80%">
                                            <mat-label>
                                              {{productFormGroup.controls[lengine.id].controls[iengine].controls.config.controls[iconfig].controls.params.controls.platform_params.controls[l].value.label}}
                                            </mat-label>
                                            <input matInput [type]="kk.value.type === 'integer' ? 'number' : 'text'"
                                              formControlName="value">
                                            <mat-icon matSuffix mat-mini-fab
                                              [matTooltip]="productFormGroup.controls[lengine.id].controls[iengine].controls.config.controls[iconfig].controls.params.controls.platform_params.controls[l].value.description">
                                              help</mat-icon>
                                          </mat-form-field>
                                        </ng-container>
                                        <ng-container *ngIf="allowCustomParams === true">
                                          <button mat-icon-button color="primary"
                                            (click)="openDialog(lengine.id,iengine,iconfig,'device_params',productFormGroup.controls[lengine.id].controls[iengine].controls.config.controls[iconfig].controls.params.controls.device_params.controls[l].value,l)">
                                            <mat-icon>edit</mat-icon>
                                          </button>
                                          <button mat-icon-button color="warn"
                                            (click)="removeParameter(lengine.id,iengine,iconfig,'device_params',null,l)">
                                            <mat-icon>delete</mat-icon>
                                          </button>
                                        </ng-container>
                                      </ng-container>
                                    </ng-container>
                                  </div>
                                  <mat-divider></mat-divider>
                                  <br>
                                  <div formArrayName="device_params"
                                    *ngIf="productFormGroup.controls[lengine.id].controls[iengine].controls.config.controls[iconfig].controls.params.controls.device_params">
                                    <h5> Device Params:
                                      <button mat-icon-button *ngIf="allowCustomParams === true" color="accent"
                                        (click)="openDialog(lengine.id,iengine,iconfig,'device_params')">
                                        <mat-icon>add</mat-icon>
                                      </button>
                                    </h5>
                                    <br>
                                    <ng-container
                                      *ngFor="let kk of productFormGroup.controls[lengine.id].controls[iengine].controls.config.controls[iconfig].controls.params.controls.device_params.controls; index as l">
                                      <ng-container [formArrayName]="l">
                                        <ng-container *ngIf="kk.value.type === 'boolean'">
                                          <mat-form-field [color]="'accent'" appearance="outline" style="width: 80%">
                                            <mat-label>
                                              {{productFormGroup.controls[lengine.id].controls[iengine].controls.config.controls[iconfig].controls.params.controls.device_params.controls[l].value.label}}
                                            </mat-label>
                                            <mat-select formControlName="value">
                                              <mat-option *ngFor="let bool_param of bool_params" [value]="bool_param">
                                                {{bool_param}}
                                              </mat-option>
                                            </mat-select>
                                            <mat-icon matSuffix mat-mini-fab
                                              [matTooltip]="productFormGroup.controls[lengine.id].controls[iengine].controls.config.controls[iconfig].controls.params.controls.device_params.controls[l].value.description">
                                              help</mat-icon>

                                          </mat-form-field>
                                        </ng-container>
                                        <ng-container *ngIf="kk.value.type !== 'boolean'">
                                          <mat-form-field [color]="'accent'" appearance="outline" style="width: 80%">
                                            <mat-label>
                                              {{productFormGroup.controls[lengine.id].controls[iengine].controls.config.controls[iconfig].controls.params.controls.device_params.controls[l].value.label}}
                                            </mat-label>
                                            <input matInput [type]="kk.value.type === 'integer' ? 'number' : 'text'"
                                              formControlName="value">
                                            <mat-icon matSuffix mat-mini-fab
                                              [matTooltip]="productFormGroup.controls[lengine.id].controls[iengine].controls.config.controls[iconfig].controls.params.controls.device_params.controls[l].value.description">
                                              help</mat-icon>
                                          </mat-form-field>
                                        </ng-container>
                                        <ng-container *ngIf="allowCustomParams === true">
                                          <button mat-icon-button color="primary"
                                            (click)="openDialog(lengine.id,iengine,iconfig,'device_params',productFormGroup.controls[lengine.id].controls[iengine].controls.config.controls[iconfig].controls.params.controls.device_params.controls[l].value,l)">
                                            <mat-icon>edit</mat-icon>
                                          </button>
                                          <button mat-icon-button color="warn"
                                            (click)="removeParameter(lengine.id,iengine,iconfig,'device_params',null,l)">
                                            <mat-icon>delete</mat-icon>
                                          </button>
                                        </ng-container>
                                      </ng-container>
                                    </ng-container>
                                  </div>
                                </div>
                                <!-- end of Params Part-->
                              </mat-expansion-panel>
                            </div>
                            <div class="col-md-1">
                              <button mat-icon-button (click)="deleteConfigEngine(lengine.id,iengine, iconfig)"
                                color="warn">
                                <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </mat-accordion>
                  </mat-tab>
                </ng-container>
              </ng-container>
            </mat-tab-group>
          </div>
        </form>
      </mat-step>
    </ng-container>

    <mat-step>
      <ng-template matStepLabel *ngIf="stepInfo.productStatus?.hasDB === true">
        <h4>Finish configuration</h4>
        <p>Finish and submit a new product</p>
      </ng-template>
      <ng-template matStepLabel *ngIf="stepInfo.productStatus?.hasDB === false">
        <h4>Ask for resources</h4>
        <p>Finish and submit for resources</p>
      </ng-template>
      You are now done. Review your definition:
      <div>
        <button mat-raised-button color="accent" matStepperPrevious>Back</button>
        <button mat-raised-button color="accent">Cancel</button>
        <button mat-raised-button color="accent"
          (click)="(stepInfo.productStatus?.hasDB) ? modifyProduct() : requestNewProduct()">Finish</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
  <br>
  <mat-divider></mat-divider>
  <br>
  <mat-slide-toggle [checked]="showDebug" (change)="showDebug === true ?  showDebug = false : showDebug = true">Debug
    Mode
  </mat-slide-toggle>
  <ng-container *ngIf="showDebug === true">
    <h4>Debug Platform- Preview</h4>
    <pre>{{platformFormGroup.value | json}}</pre>
    <h4>Debug - Preview</h4>
    <pre>{{productFormGroup.value | json}}</pre>
    <h4>Debug Files - Preview</h4>
    <pre>{{fileArray | json}}</pre>
    <pre>{{fileRemovedArray | json}}</pre>
  </ng-container>
</div>