<h1 mat-dialog-title>List Configuration</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Copy from: </mat-label>
    <mat-select placeholder="devices" [(ngModel)]="selected">
      <mat-option *ngFor="let device of data" [value]="device">
        {{ device.DeviceID}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div mat-dialog-actions>
    <button mat-button color="warn" (click)="onNoClick()">Cancel</button>
    <button mat-button color="primary" [mat-dialog-close]="selected" cdkFocusInitial>Ok</button>
  </div>